<ul class="navbar-nav h-100 text-center">
    <li class="nav-item bg-secondary p-1 m-1">
        <a class="nav-link text-white" routerLink="/home" [routerLinkActive]="['router-link-active']">Dashboard</a>
    </li>
    <li class="nav-item bg-secondary p-1 m-1">
        <a class="nav-link text-white" routerLink="/season" [routerLinkActive]="['router-link-active']">Seasonality</a>
    </li>
    <li class="nav-item bg-secondary p-1 m-1">
        <a class="nav-link text-white" routerLink="/climate" [routerLinkActive]="['router-link-active']">Climate</a>
    </li>
    <li class="nav-item bg-secondary p-1 m-1">
        <a class="nav-link text-white" routerLink="/patient" [routerLinkActive]="['router-link-active']">Patients</a>
    </li>
    <li class="nav-item bg-secondary p-1 m-1">
        <a class="nav-link text-white" href="javascript:void(0);">Email</a>
    </li>
    <li class="nav-item bg-secondary p-1 m-1">
        <a class="nav-link text-white" href="javascript:void(0);">Download</a>
    </li>
    <!-- profile header small screen-->
    <ng-container *ngIf="!sidenavmenu.menuOptions.open">
        <li class="nav-item bg-secondary p-1 m-1">
            <a class="nav-link text-white" href="javascript:void(0);">Profile</a>
        </li>
        <li class="nav-item bg-secondary p-1 m-1">
            <a class="nav-link text-white" href="javascript:void(0);" (click)="logout()">Log out</a>
        </li>
    </ng-container>
</ul>