<nav class="row navbar navbar-dark navbar-expand-lg bg-secondary justify-content-between">
  <div class="order-lg-first order-last">
    <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" class="img-fluid" /></a>
  </div>
  <div class="order-lg-last d-none d-lg-block">
    <ul class="custom-menu">
      <li class="custom-hover">
        <a class="text-white">Admin</a>
        <ul class="submenu">
            <li><a href="javascript:void(0)">Profile</a></li>
            <li><a href="javascript:void(0)" (click)="logout()">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" (click)="clickMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>