ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        padding: 5px 10px;
        border-bottom: 1px solid #000;
        &:last-of-type {
            border-bottom: 0px;
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }
}
.custom-menu {
    .submenu {
        display: none;
        li {
            min-width: 150px;
            &:hover {
                background: #343a40;
                a {
                    color: #fff;
                }
            }
        }
    }
    li.custom-hover {
        &:hover .submenu {
            display: block;
            position: absolute;
            right: 0px;
            background: #fff;
            z-index: 2;
        }
    }
}