<div class="container-fluid vh-100 bg-dark">
    <div class="row h-100">
        <div class="col-sm-6 d-none d-sm-block">

        </div>
        <div class="col-sm-6 col-12 row justify-content-center align-content-center">
            <div class="w-75 bg-white p-3 pt-5">
                <div class="form-group h4 text-center">Bed Occupancy Login</div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="form-group">
                        <input type="text" formControlName="userName" class="form-control" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!loginForm.valid" class="w-100 btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>