<div class="container-fluid vh-100 bg-dark">
    <!-- header component start -->
    <app-header></app-header>
    <mat-sidenav-container class="row bg-dark">
        <mat-sidenav #sidenav [mode]="menuOptions.mode" [opened]="menuOptions.open" class="h-100 col-sm-3 col-md-3 col-lg-2 bg-dark px-2 d-none d-sm-block">
            <!-- side menu component start -->
            <app-sidemenu [sidenavmenu]="parentData"></app-sidemenu>
        </mat-sidenav>
        <mat-sidenav-content class="p-3">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- footer component start -->
    <app-footer></app-footer>
</div>