<div class="row">
    <div class="d-flex col-md-3 col-sm-12 col-12 form-group">
        <div class="w-100 card border-top-0 border-right-0 border-left-0 border-bottom border-primary bg-secondary text-white">
            <div class="card-body text-center">
                <h5 class="card-title">Time Series Transactions</h5>
                <p class="card-text">{{ (bedDetail && bedDetail.seriesTransaction) ? bedDetail.seriesTransaction : 0 }}</p>
            </div>
        </div>
    </div>
    <div class="d-flex col-md-3 col-sm-12 col-12 form-group">
        <div class="w-100 card border-top-0 border-right-0 border-left-0 border-bottom border-primary bg-secondary text-white">
            <div class="card-body text-center">
                <h5 class="card-title">Parameter Analyzed</h5>
                <p class="card-text">{{ (bedDetail && bedDetail.parameterAnalyzed) ? bedDetail.parameterAnalyzed : 0 }}</p>
            </div>
        </div>
    </div>
    <div class="d-flex col-md-3 col-sm-12 col-12 form-group">
        <div class="w-100 card border-top-0 border-right-0 border-left-0 border-bottom border-primary bg-secondary text-white">
            <div class="card-body text-center">
                <h5 class="card-title">No of beds > 70</h5>
                <p class="card-text">{{ (bedDetail && bedDetail.bedGreater) ? bedDetail.bedGreater : 0 }}</p>
            </div>
        </div>
    </div>
    <div class="d-flex col-md-3 col-sm-12 col-12 form-group">
        <div class="w-100 card border-top-0 border-right-0 border-left-0 border-bottom border-primary bg-secondary text-white">
            <div class="card-body text-center">
                <h5 class="card-title">No of beds < 70</h5>
                <p class="card-text">{{ (bedDetail && bedDetail.bedLesser) ? bedDetail.bedLesser : 0 }}</p>
            </div>
        </div>
    </div>
</div>