<div class="col-12">
    <div class="row">
        <div class="w-100">
            <app-beddetails [bedDetail]="bedDetailsObject"></app-beddetails>
        </div>
        <!-- displaying fusion chart -->
        <div class="w-100 form-group">
            <app-fusionchart [fusionChart]="chartObject"></app-fusionchart>
        </div>
        <div class="col-12 text-center">
            <a href="javascript:void(0);" class="btn btn-light mx-3" (click)="nextPrev('prev')">&laquo;</a>
            <a href="javascript:void(0);" class="btn btn-light" (click)="nextPrev('next')">&raquo;</a>
        </div>
    </div>
</div>