<div class="col-12">
    <div class="row">
        <div class="w-100">
            <app-beddetails [bedDetail]="bedDetailsObject"></app-beddetails>
        </div>
        <!-- displaying fusion chart -->
        <div class="w-100 form-group">
            <app-fusionchart [fusionChart]="chartObject"></app-fusionchart>
        </div>
    </div>
</div>